/*Custom Styles
***************/

/*Common Styles
**************/
.no-margin-bottom {
    margin-bottom: 0px;
}
/*TabStyles
**********/
.custom-tabs {
    margin-bottom: 3%;
}
.custom-tabs li a{
    cursor: pointer;
}

/*DataTable
**********/
.data-table {
    margin-bottom: 3%;
}

/*Navbar Custom Styles
*********************/

.sidebar button {
    color: inherit;
    background-color: transparent;
    box-sizing: border-box;
    margin: 0em;
    border: none;
    width: 100%;
}

.sidebar ul li svg {
    color: inherit;
}

.navIcons {
    font-size: 1.125rem;
    line-height: 1;
    margin-right: 1.125rem;
    color: inherit;
}

.menu-arrow {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: auto;
    margin-right: 0;
    color: #000;
}

.sub-nav {
    list-style: none;
    cursor: pointer;
}

/*Header Styles
**************/

.drop-down-icon {
    margin-right: .5rem;
    vertical-align: middle;
}
.nav-profile {
    cursor: pointer;
}

/*Grid DPR
************/
.inner-card {
    box-shadow: none;
    border: none;
}
.cleaning-card {
    border: 2px solid #e7eaed;
    margin-bottom: 5%;
}
.quantity-card {
    padding: 10px;
    border: 2px solid #e7eaed;
    margin-top: 1%;
    margin-bottom: 3%;
    background-color: #e9ecef;
}

/*Create Grid
************/

.location-row > div{
    margin-bottom: 5%;
}