/*Custom Styles
***************/
body {
  font-family: sans-serif !important;
}
/*Common Styles
**************/
.no-margin-bottom {
  margin-bottom: 0px;
}
.action-btns button {
  margin-right: 2%;
}
/*Header Styles
**************/
.logo img {
  width: auto !important;
}
/*TabStyles
**********/
.custom-tabs {
  margin-bottom: 3%;
}
.custom-tabs li a {
  cursor: pointer;
}

/*DataTable
**********/
.data-table {
  margin-bottom: 3%;
}

/*Navbar Custom Styles
*********************/

.sidebar button {
  color: inherit;
  background-color: transparent;
  box-sizing: border-box;
  margin: 0em;
  border: none;
  width: 100%;
}

.sidebar ul li svg {
  color: inherit;
}

.navIcons {
  font-size: 1.125rem;
  line-height: 1;
  margin-right: 1.125rem;
  color: inherit;
}

.menu-arrow {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: auto;
  margin-right: 0;
  color: #000;
}

.sub-nav {
  list-style: none;
  cursor: pointer;
}

/*Header Styles
**************/

.drop-down-icon {
  margin-right: 0.5rem;
  vertical-align: middle;
}
.nav-profile {
  cursor: pointer;
}

/*Grid DPR
************/
.inner-card {
  box-shadow: none;
  border: none;
}
.cleaning-card {
  border: 2px solid #e7eaed;
  margin-bottom: 5%;
}
.quantity-card {
  padding: 10px;
  border: 2px solid #e7eaed;
  margin-top: 1%;
  margin-bottom: 3%;
  background-color: #e9ecef;
}
.quantity-card div {
  align-items: center;
  display: flex;
}

/*Create Grid
************/

.location-row > div {
  margin-bottom: 5%;
}

/*Login Styles
*************/
.auth .brand-logo {
  justify-content: center;
  align-items: center;
  display: flex;
}
.auth .auth-form-light {
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.5);
}
/*Loader CSS
***********/
.lds-loader-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  z-index: 999;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #aaa;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
